<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag("wave.png", class: "mx-auto h-20 w-auto", alt: "SnappyUrl") %>
    <h2 class="mt-4 text-center text-3xl font-bold leading-9 tracking-tight text-secondary">Welcome Back!</h2>
    <p class="text-base text-center mt-3 text-white">
      Login to continue
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white p-6 rounded shadow-md">
      <%= form_with scope: :user, url: auth_login_path do |form| %>
        <div class="mb-4">
          <%= form.label :email, class: "block text-sm font-medium leading-6 text-balance" %>
          <div class="mt-2">
            <%= form.email_field :email, autocomplete: "email", class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-gray-800 shadow-sm ring-1 ring-inset ring-secondary focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
          </div>

        </div>

        <div class="mb-4">
          <%= form.label :password, class: "block text-sm font-medium leading-6 text-black" %>
          <div class="mt-2">
            <%= form.password_field :password, class: "block w-full rounded-md border-0 bg-white/5 py-1.5 text-gray-800 shadow-sm ring-1 ring-inset ring-secondary focus:ring-2 focus:ring-inset focus:ring-black sm:text-sm sm:leading-6" %>
            <div class="text-sm">
              <p class="font-semibold text-secondary hover:text-secondary mt-2">Forgot password?</p>
            </div>
          </div>
        </div>

        <div class="mb-4">
          <%= form.submit "Sign in", class: " cursor-pointer flex w-full justify-center rounded-md bg-secondary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary" %>
        </div>
      <% end %>

      <p class="mt-4 text-center text-sm">
        Not a member?
        <%= link_to "Sign Up", auth_signup_path, class: "font-semibold leading-6 text-secondary hover:text-secondary" %>
      </p>
    </div>
  </div>
</div>
